.DS_Store
.vscode
*.gch
*.o
*.pyc
*.class
__debug_bin
packets.input
packets.output


#####################
### Java Project files ###
#####################
*.iml
.idea
out

##############
### Gradle ###
##############
.gradle
build

# Never ignore gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# Qt build folder
build-aln-*
